@model wad.Models.DocumentModels

@{
    ViewBag.Title = "Home Page";
}

<div style="float: left">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <label for="htmlbutton">HTML File: </label>
    <input type="file" name="HTMLfile" id="htmlbutton" />
    //<label for="cssbutton">CSS File: </label>
    //<input type="file" name="CSSfile" id="cssbutton "/>
    <input type="submit" value="Upload" name="ok" />
    }
</div>
<div id="picker"></div>
<div style="text-align: center">@Html.TextBoxFor(m => Model.colour, new { id = "picker_colour" })</div>
<div id="weight-options">
    <!--Using helpers, created a link between the controller values and the check boxes-->
    @Html.CheckBoxFor(m => Model.bold, new { onclick = "boldText(this);", name = "weight-options", id = "boldBox" })<label for="bold">&nbsp;Bold&nbsp;</label>
    &nbsp;
    @Html.CheckBoxFor(m => Model.italic, new { onclick = "italicText(this);", name = "weight-options", id = "italicsBox" })<label for="italics">&nbsp;Italics&nbsp;</label>
</div>
<hr />
<style type="text/css">
   @Html.Action("GetHtmlPage", "Home", new { path = "~/Views/Home/Documents/Document2Style.cshtml" })
</style>

<div id="document-container">
    @Html.Action("GetHtmlPage", "Home", new { path = "~/Views/Home/Documents/Document2.cshtml" })
</div>