<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WAD</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")      
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/farbtastic")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><strong>@Html.Encode(User.Identity.Name)</strong>
                            @Html.ActionLink("Sign Out", "Logout", "Register")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Sign In", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    

    <!--
    <div class="jumbotron">
        <h1><b>W</b>ebsite <b>A</b>esthetic <b>D</b>esigner</h1>
        <p class="lead">Everything looks better with <b>WAD!</b></p>
    </div>
    -->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Website Aesthetic Designer</p>
        </footer>
    </div>    
</body>
</html>
